

div.login-form {
    display: flex;
    flex-direction: column;
}

.kakao {
    background-color: #FEE500;
}
.email {
    background-color: #5e5d5d;
}
div.login-button {
    display: flex;
    height: 45px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 7px;
    margin-top : 1px;
    margin-bottom:2px;
    cursor: pointer;
}